{% extends 'base.html' %} {% block title %}Contact Us - BookGenie{% endblock %}
{% block content %}

<section class="py-5">
  <div class="container text-center">
    <h2 class="fw-bold mb-3">Get in Touch</h2>
    <p class="text-muted mb-4">
      I'd love to hear from you! For inquiries, feedback, or collaboration
      opportunities, connect with me:
    </p>

    <div class="d-flex justify-content-center gap-4 fs-4">
      <a
        href="https://github.com/aysh34"
        target="_blank"
        class="text-dark text-decoration-none"
      >
        <i class="bi bi-github"></i> GitHub
      </a>

      <a
        href="mailto:ayeshasaleem111@outlook.com"
        class="text-dark text-decoration-none"
      >
        <i class="bi bi-envelope-fill"></i> Gmail
      </a>

      <a
        href="https://www.linkedin.com/in/your-linkedin"
        target="_blank"
        class="text-dark text-decoration-none"
      >
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</section>

{% endblock %}
